/* ignore all */
/*
/.*
tags*

/* allow any */
!README.md

!/.config/
/.config/*
!/.config/nvim/
/.config/nvim/.netrwhist
/.config/nvim/dein/
/.config/nvim/.cache/

!/.vim/
/.vim/*
!/.vim/colors/
!.vimrc
